* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
   background-image:url("https://picsum.photos/id/684/600/400?blur=5"); 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
   
}
.stopwatch-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   
}
h1{
    font-size: 60px;
    margin-bottom: 3rem;
    color: coral;
    text-align: center;
    text-shadow: 3px 3px 3px #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px  burlywood;
    z-index: 1;
    padding: 20px;
    
}

#timerDisplay{
    font-size: 30px;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 3px 3px 3px #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    box-shadow: 3px 3px  burlywood;
    padding: 10px;
   
    
}

button{
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 3px 3px 3px #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
   
    
}

#pause{
    margin-right: 5rem;
    color: forestgreen
    
}

#start{
    margin-right: 5rem;
    color: red
}

#reset{
    
    color: aquamarine
}
